bg_album_cover_disk{background-image: url('../images/sprite.png');background-position: -16px 0px;width:235px;height:205px;}
bg_close{background-image: url('../images/sprite.png');background-position: 0px 0px;width:11px;height:22px;}
